.title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.button {
    background-color: var(--green);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 16px;
    padding: 0.7rem 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 1rem;
}

.result {
    white-space: pre-wrap;
    position: relative;
    padding-left: 1rem;
    line-height: 2.5;
    font-size: 1rem;
    font-weight: 500;
    margin-block: 1rem;
    animation: appearAnimation 0.6s cubic-bezier(0.4, 0.2, 0.2, 1) forwards;
}

.result::before {
    min-height: 10px;
    width: 6px;
    border-radius: 12px;
    background-color: var(--green);
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    left: 0;
    bottom: 0.5rem;
}

.leaf {
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(0, 30%);
    user-select: none;
    margin-inline: 0.35rem 0.1rem;
}

.container {
    margin-top: 2rem;
    min-height: 19rem;
}

.containerPlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes appearAnimation {
    from {
        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        max-height: 10rem;
        margin-bottom: 24px;
        transform: translateY(0);
    }
}



.placeholderImage {
    height: 180px;
    width: 180px;
    opacity: 0.3;
    /*display: block;*/
    /*margin-inline: auto auto;*/
}

.placeholderText {
    /*text-align: center;*/
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    /*display: block;*/
    opacity: 0.8;
}

@media (min-width: 600px) and (max-width: 1050px) {
    .controlsBox {
        display: block;
        margin-inline: auto;
        width: fit-content;
    }

    .button {
        margin-left: 2rem;
    }
}

@media (max-width: 600px) {
    .controlsBox {
        display: block;
        min-width: 300px;
    }

    .button {
        margin: 1rem 0 0 auto;
        display: block;
    }
}