
.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    /*padding: 2rem;*/
}

@media (max-width: 650px) {
    .grid {
        grid-template-columns: 1fr;
        box-sizing: border-box;
        width: 100%;
    }
}